<div class="dflex justify-content-start align-items-center">
  <custom-button idElement="button-cancel" label="Volver" type="secundary" class="mr-8" routerLink="/admin/books" />
  <custom-button idElement="button-cancel" label="Editar" [routerLink]="['/admin/books/create/' + book.id]" />
</div>
<div class="dflex justify-content-center align-items-center">
  <div class="w50 p-24 dflex justify-content-center align-items-center">
    <img
        [src]="book.image"
        alt=""
        (onerror)="'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRGuUwuWpwgo5Xg96i6NA3cNFR3f8JqsYdC2IQspsdFN3m7pCnlX8He2CT2oFUvq9MWnyQ&usqp=CAU'"
      />
  </div>
  <div class="w50 p-24">
    <custom-label label="Título" [description]="book.title" />
    <custom-label label="Autor" [description]="book.author" />
    <custom-label label="URL del libro" [description]="book.url" [isURL]="true" />
    <custom-label label="Resumen" [description]="book.resume" />
    <custom-label label="Categorías" [description]="getBookCategoriesNames()" />
  </div>
</div>
