/* You can add global styles to this file, and also import other style files */
.container {
  margin: -8px;
}

.main-content {
  padding: 24px;
}

.dflex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-start {
  justify-content: flex-start;
}

.justify-content-end {
  justify-content: flex-end;
}

.align-items-center {
  align-items: center;
}

.align-items-start {
  align-items: flex-start;
}

.align-items-end {
  align-items: flex-end;
}

.h100 {
  height: calc(100vh - 16px);
}
