<div class="dflex flex-column mb-14">
  <label
    class="input-label mb-8"
    [for]="idElement"
    data-testid="custom-label-select"
    >{{ label }}</label
  >
  <select
    #selectElement
    [name]="idElement"
    [id]="idElement"
    (change)="onChangeEventNotification(selectElement.value)"
    data-testid="custom-select"
  >
    <option *ngIf="elements.length === 0" [value]="null">
      No hay elementos.
    </option>
    <option
      *ngFor="let element of elements"
      trackBy="value"
      [value]="element.value"
    >
      {{ element.label }}
    </option>
  </select>
</div>
